.sessao3 {
  width: 100%;
}

.parte1 {
  width: 50%;
  float: left;
  padding: 140px 0 90px 0;
  background-color: #835fa8;
  color: white;
}

.wrapper-part1 {
  max-width: 600px;
  float: right;
  padding: 0 30px;
}

.parte1 h2 {
  font-weight: 300;
  font-style: italic;
  font-size: 25px;
}

.parte1 p {
  margin-top: 10px;
  line-height: 35px;
  font-size: 15px;
  text-align: justify;
}

.parte2 {
  float: left;
  width: 50%;
  padding: 140px 0 90px 0;
  /* background-color: #472663; */
}

.scrollEquipe {
  max-width: 600px;
  padding-left: 20px;
  overflow: hidden;
}

.scroll-wrapper {
  width: 100%;
}

.sobre-autor {
  width: 100%;
  float: left;
  padding: 0 20px;
}

.titulo-autor {
  float: left;
  width: 100%;
}

.wrapper-titulo-autor {
  /* width: calc(100% - 40px); */
  float: left;
}

.titulo-autor h2 {
  color: #232323;
  font-weight: 400;
  font-size: 20px;
  padding-right: 20px;
}

.titulo-autor p {
  font-size: 15px;
  color: #232323;
  font-weight: 300;
  font-style: italic;
}

.titulo-autor .img-autor {
  float: left;
  width: 40px;
  height: 40px;
  background-image: url("../images/profile.jpg");
  background-size: contain;
  border-radius: 20px;
}

.texto-autor {
  width: 100%;
  margin-top: 10px;
  float: left;
  text-align: justify;
}

.texto-autor p {
  font-size: 15px;
  color: #232323;
}

.slider-bullets {
  width: 100%;
  float: left;
  margin-top: 12px;
  padding-left: 40px;
}

.slider-bullets span {
  width: 16px;
  height: 16px;
  float: left;
  background-color: rgb(218, 218, 218);
  border-radius: 8px;
  margin-right: 8px;
  cursor: pointer;
}
