* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
  width: 100%;
  padding: 30px 2%;
  background-color: lightgrey;
  position: relative;
}

.box p{
  display: inline;
  border-bottom: 2px solid green;
  font-size: 13px;
}