* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

p, span{
    text-align: justify;
}

input.text[type=text]{
    background-color: green;
}

input[type=submit]{
    background-color: rgb(60, 97, 200);
}


/*      TEM QUE SER IGUAL

a[href="http://www.google.com"]{
    background-color: yellow;
}

[href="http://www.google.com"]{
    background-color: red;
}
*/

/*      ACHE A PALAVRA "GOOGLE" EM QUALQUER LUGAR

a[attr~="google"]{
    color: rgb(225, 0, 255);
}
*/

/*      QUANDO COMEÇAMOS COM A PALAVRA GOOGLE SEGUIDA POR UM ACENTO

a[attr|="google"]{
    background-color: yellow;
}
*/

/*      QUANDO COMEÇAMOS COM A PALAVRA

a[attr^="goo"]{
    background-color: yellow;
}
*/

/*      QUANDO TERMINAMOS COM A PALAVRA "GOOGLE"

a[attr$="google"]{
    background-color: yellow;
}
*/

