* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Open Sans';
}

/*
Cometário no CSS.
*/

/*Inicio da estilização do teste*/

.teste{
    background: red;
    width: 100px;
    height: 100px;
}

/*Fim da estilização*/