* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

html,
body {
  height: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

header {
  width: 100%;
  height: 90vh;
  min-height: 800px;
  /* max-height: 700px; */
  padding: 40px 2%;
  background-image: url("../images/capa.png");
  background-size: cover;
  background-position: center;
  font-weight: 300;
}

nav.mobile-menu {
  width: 32px;
  height: 32px;
  display: none;
  background-image: url("../images/menu.png");
  background-size: 100% 100%;
  cursor: pointer;
}

nav.mobile-menu:hover ul {
  opacity: 1;
}

nav.mobile-menu ul {
  width: 100%;
  background-color: rgba(68, 38, 99, 0.85);
  position: absolute;
  left: 0;
  top: 80px;
  list-style-type: none;
  text-align: center;
  opacity: 0;
  transition: 1s;
}

nav.mobile-menu ul li {
  padding: 8px 0;
  border-bottom: 1px solid black;
  transition: 0.5s;
}

nav.mobile-menu ul li:last-child {
  border-bottom: none;
}

nav.mobile-menu li:hover {
  background-color: rgb(81, 45, 118);
}

nav.mobile-menu a {
  text-decoration: none;
  color: white;
}

header nav {
  float: right;
}

header .logo {
  width: 160px;
  height: 40px;
  float: left;
  background-color: #ccc;
}

header nav.desktop-menu ul {
  list-style: none;
}

header nav.desktop-menu li {
  float: left;
  padding: 0 20px;
}

header nav.desktop-menu a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.chamada1 {
  max-width: 600px;
  float: right;
  margin: 150px 150px;
}

.chamada1 h2 {
  font-size: 40px;
  font-weight: 300;
  color: white;
}

.chamada1 p {
  font-size: 15px;
  color: white;
  margin-top: 10px;
}

section.sessao1 {
  width: 100%;
  height: 400px;
  padding: 0 2%;
  background-color: #472663;
}

section.sessao1 .container {
  max-width: 1000px;
  height: calc(100% + 30px);
}

.texto-sessao1 {
  width: 50%;
  float: left;
  position: relative;
  left: 55px;
  margin-top: 60px;
  padding-left: 80px;
  color: white;
}

.texto-sessao1 h2 {
  font-size: 25px;
  font-weight: 300;
}

.texto-sessao1 p {
  font-size: 15px;
  margin-top: 20px;
}

.texto-sessao1 ul {
  font-size: 15px;
  list-style-position: outside;
  padding-left: 15px;
}

.texto-sessao1 ul li {
  width: 100%;
  float: left;
  margin-top: 10px;
}

.btn1-texto {
  width: 165px;
  height: 44px;
  margin-top: 30px;
  text-align: center;
  font-size: 15px;
  line-height: 44px;
  font-weight: 600;
  background-color: #ff703e;
  color: white;
  cursor: pointer;
  border-radius: 30px;
}

.device-sessao1 {
  width: 50%;
  height: 100%;
  position: relative;
  top: -30px;
  float: left;
  background-image: url("../images/device.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sessao2 {
  padding-left: 2%;
  padding-right: 2%;
  background-color: white;
  text-align: center;
  color: #472663;
}

.sessao2 .container {
  max-width: 1000px;
}

.sessao2 h2 {
  font-size: 35px;
  font-weight: 300;
}

.sessao2 p {
  max-width: 1000px;
  display: inline-block;
  margin-top: 30px;
  font-size: 15px;
}

.sessao2 img {
  position: relative;
  top: 70px;
  width: 100%;
  margin-top: 10px;
}

.sessao3 {
  width: 100%;
}

.parte1 {
  width: 50%;
  float: left;
  padding: 140px 0 90px 0;
  background-color: #835fa8;
  color: white;
}

.wrapper-part1 {
  max-width: 600px;
  float: right;
  padding: 0 30px;
}

.parte1 h2 {
  font-weight: 300;
  font-style: italic;
  font-size: 25px;
}

.parte1 p {
  margin-top: 10px;
  line-height: 35px;
  font-size: 15px;
  text-align: justify;
}

.parte2 {
  float: left;
  width: 50%;
  padding: 140px 0 90px 0;
  /* background-color: #472663; */
}

.sobre-autor {
  max-width: 600px;
  padding: 0 30px;
  float: left;
}

.titulo-autor {
  float: left;
  width: 100%;
}

.wrapper-titulo-autor {
  /* width: calc(100% - 40px); */
  float: left;
}

.titulo-autor h2 {
  color: #232323;
  font-weight: 400;
  font-size: 20px;
  padding-right: 20px;
}

.titulo-autor p {
  font-size: 15px;
  color: #232323;
  font-weight: 300;
  font-style: italic;
}

.titulo-autor .img-autor {
  float: left;
  width: 40px;
  height: 40px;
  background-color: #232323;
  border-radius: 20px;
  position: relative;
  top: -4px;
}

.texto-autor {
  width: 100%;
  margin-top: 10px;
  float: left;
  text-align: justify;
}

.texto-autor p {
  font-size: 15px;
  color: #232323;
}

.slider-bullets {
  width: 100%;
  float: left;
  margin-top: 12px;
  padding-left: 30px;
}

.slider-bullets span {
  width: 16px;
  height: 16px;
  float: left;
  background-color: rgb(218, 218, 218);
  border-radius: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.sessao4 {
  background-color: #472663;
  padding: 100px 0;
}

.form {
  float: left;
  width: 50%;
  color: white;
  padding-left: 10px;
}

.form h2 {
  font-size: 25px;
  font-weight: 300;
}

.form p {
  max-width: 400px;
  font-size: 15px;
  font-weight: 300;
  text-align: justify;
  margin-top: 15px;
  padding-right: 10px;
}

.form form {
  margin-top: 15px;
}

.form form input[type="text"],
.form form input[type="email"] {
  width: 90%;
  max-width: 480px;
  height: 60px;
  margin-top: 8px;
  padding-left: 10px;
  line-height: 60px;
  border: 1px solid rgb(200, 200, 200);
}

.form form textarea {
  width: 90%;
  max-width: 480px;
  height: 160px;
  margin-top: 8px;
  padding: 10px;
  border: 1px solid rgb(200, 200, 200);
}

.form form input[type="submit"] {
  width: 130px;
  height: 44px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  background-color: #ff703e;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  border: none;
}

.map-wrapper {
  float: right;
  width: 50%;
  color: white;
  padding: 0 8%;
}

.map-wrapper h2 {
  font-size: 25px;
  font-weight: 300;
}

.map-wrapper3 {
  width: 100%;
  max-width: 480px;
  position: relative;
  margin-top: 15px;
}

.map-wrapper2 {
  width: 100%;
  padding-top: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  border: 5px solid rgb(200, 200, 200);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 830px) {
  .chamada1 {
    width: 100%;
    max-width: none;
    margin: 170px 0;
    text-align: center;
    float: none;
  }

  .chamada1 h2 {
    font-size: 30px;
    font-weight: 300;
    padding: 0 0px;
    color: white;
  }

  .chamada1 p {
    font-size: 15px;
    color: white;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    height: auto;
    min-height: 90vh;
    padding: 40px 2%;
  }

  nav.desktop-menu {
    display: none;
  }

  nav.mobile-menu {
    display: block;
  }

  section.sessao1 {
    height: auto;
    padding: 40px 2%;
    text-align: center;
  }

  .texto-sessao1 {
    width: 100%;
    margin-top: 0;
    padding-left: 0;
    position: static;
    float: none;
    display: inline-block;
  }

  .texto-sessao1 ul {
    display: inline-block;
    margin-top: 20px;
  }

  .texto-sessao1 ul li {
    float: none;
    text-align: left;
  }

  .btn1-texto {
    display: inline-block;
  }

  .device-sessao1 {
    display: none;
  }

  .sessao2 {
    padding: 40px 2%;
  }

  .sessao2 h2 {
    font-size: 30px;
  }

  section.sessao4 .container {
    text-align: center;
  }

  .form{
    width: 100%;
    float: none;
  }

  .form p {
    display: inline-block;
  }

  .map-wrapper {
    width: 100%;
    float: none;
    margin-top: 40px;
    padding: 0 4%;
  }

  .map-wrapper3 {
    width: 80%;
    max-width: none;
    padding-top: 80%;
    display: inline-block;
    position: relative;
    margin-top: 15px;
  }
  
  .map-wrapper2 {
    width: 100%;
    height: 100%;
    padding-top: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 580px) {
  .parte1,
  .parte2 {
    width: 100%;
    padding: 40px 0;
  }

  .sessao2 img {
    margin-top: 20px;
    top: 10px;
  }
}
