* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.center {
    box-sizing: border-box;
    width: 1280px;
    margin: 0 auto;
    background-color: rgb(170, 170, 170);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.artigo {
    width: 100;
    margin-bottom: 40px;
    text-align: justify;
}

.center h1{
    text-align: center;
    padding-bottom: 20px;
}