* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

.center {
  max-width: 1100px;
  padding: 0 2%;
  margin: 0 auto;
}

.clear {
  clear: both;
}

header {
  background-color: #3c579a;
  padding: 8px 0;
}

.logo {
  float: left;
  color: white;
}

.logo h2 {
  font-size: 40px;
  font-weight: 700;
}

form.form-login {
  float: right;
}

.form-login .form-element {
  display: inline-block;
  margin-right: 15px;
}

.form-element p {
  color: white;
  font-size: 14px;
}

.form-element input[type="email"],
.form-element input[type="password"] {
  margin-top: 4px;
  border: none;
  height: 20px;
  padding-left: 5px;
}

.form-element input[type="submit"] {
  cursor: pointer;
  border: 2px solid #355495;
  background-color: #4e65ab;
  color: white;
  padding: 3px 5px;
}

.form-element input[type="submit"]:hover {
  background-color: #355495;
}

section.main {
  background: linear-gradient(white, #d3d8e8);
  padding: 40px 0;
}

.img-pessoas {
  margin-top: 10px;
  float: left;
  width: 60%;
}

.img-pessoas h2 {
  color: #3c579a;
  margin-bottom: 5px;
  float: left;
  width: 70%;
  font-size: 20px;
}

.img-pessoas img {
  max-width: 100%;
}

.abrir-conta {
  width: 40%;
  float: left;
}

.abrir-conta h2 {
  color: black;
  font-size: 30px;
  font-weight: 700;
}

.abrir-conta h3 {
  color: black;
  font-size: 15px;
  margin-top: 8px;
}

form.criar-conta {
  margin-top: 10px;
}

.w50 {
  width: 50%;
  padding: 0 5px;
  float: left;
}

.w100 {
  width: 100%;
  padding: 0 5px;
  float: left;
}

form.criar-conta input {
  width: 100%;
  margin-top: 8px;
}

form.criar-conta input[type="email"],
form.criar-conta input[type="text"],
form.criar-conta input[type="password"] {
  height: 40px;
  border: 3px solid #e3e2e8;
  border-radius: 8px;
  padding-left: 10px;
  font-size: 15px;
}

form.criar-conta input[type="submit"] {
  height: 40px;
  max-width: 200px;

  background: linear-gradient(#67ae55, #578843);

  border: none;
  border-radius: 5px;
  color: white;

  font-weight: 700;
  font-size: 20px;

  cursor: pointer;
}

form .w100 h2 {
  margin-top: 10px;
  color: black;
  font-size: 15px;
  margin-top: 8px;
}

form select.nascimento {
  margin-top: 5px;
  float: left;
  height: 30px;
}

.input-radio {
  margin: 10px 10px;
  float: left;
}

.input-radio h2 {
  display: inline-block;
}

.input-radio input[type="radio"] {
  width: auto !important;
  display: inline-block;
}

section.linguas {
  padding: 30px 0;
  background: white;
}

section.linguas a {
  font-size: 10px;
  color: #365899;
  text-decoration: none;
  padding-right: 15px;
}

section.linguas a.selected-lingua {
  color: #737373;
}

section.linguas .center {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

section.linguas .center.informacoes {
  font-size: 10px;
  color: #365899;
  text-decoration: none;
  padding-right: 15px;
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .logo {
    float: none;
    width: 100%;
    text-align: center;
  }

  form.form-login {
    margin-top: 15px;
    display: inline-block;
    float: none;
    width: 100%;
    text-align: center;
  }

  .form-login .form-element {
    display: block;
    margin: 10px 0;
  }

  .form-element p {
    color: white;
    font-size: 14px;
  }

  .form-element input[type="email"],
  .form-element input[type="password"] {
    margin-top: 4px;
    border: none;
    height: 20px;
    padding-left: 4px;
    width: 100%;
    max-width: 320px;
  }

  .img-pessoas{
    display: none;
  }

  .abrir-conta{
    width: 100%
  }
} 
