* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.bg{
    width: 50%;
    height: 50%;
    margin: 0 auto;

    /*BACKGROUNDS*/

    background-color: red;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: /*90px 90px*/;
    background-repeat: no-repeat /*no-repeat, repeat-x, repeat-y*/;
}