*{
    margin: 0;
    padding: 0;
}

/*Estilo para o conteudo do site*/

html,body{
    height: 100%;
}

.artigo{
    width: 4%;
    height: auto;
    background-color: rgb(200, 200, 200);
    text-align: center;
}

.artigo h1{
    color: #103fdadc;
    font-size: 23px;
    font-style: normal;
    font-weight: bold;
}

.artigo p{
    color: grey;
    text-align: justify;
    font-size: 17px;
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
    margin-top: 15px;
}

