* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}
 .box, .box2{
     text-align: justify;
     padding: 25px;
     width: 300px;
     margin: 0 auto;
     background: gray;
     /*overflow: auto;*/
 }

 .box p, .box2 p{
     width: 100%;
 }

 .box2{
     display: block;
     margin-top: 20px;
     background: red;
 }