* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

ul{
    list-style-position: inside;
}
/*  DE ACORDO COM O TIPO DE ELEMENTO

ul li:nth-of-type(2){
    color: red;
}

*/

/*  DE ACORDO COM OS FILHOS

ul li:nth-child(3){
    color: red;
}

ul span:nth-child(6){
    color: red;
}
*/

.box{
    width: 100%;
}

.box > div{
    box-sizing: border-box;
    float: left;
    width: 33.3%;
    height: 400px;
    background-color: rgb(255, 0, 0);
    border: 1px solid black;
}


/*  NEGAÇÃO! APLIQUE O ESTILO PARA TDS AS DIVS QUE NÃO TENHAM A CLASS="ONE" 
.box div:not(.one){
    background-color: gold;
}
*/

/*  ATACA O ÚLTIMO DO TIPO

.box div:last-of-type, .box p:last-of-type{
    background-color: green;
}
*/

/*
.box div:last-child p{
    color: rgba(255, 255, 255, 0.938);
}
*/

/*
.p::after{
    content: "Vinícius";
    background-color: orangered;
}

.p::before{
    content: 'Seja bem-vindo. ';
}
*/

/*
p:empty{
    background-color: orange;
    width: 200px;
    height: 200px;
}
*/