*{
    margin: 0;
    padding: 0;
}

/*Estilo para o conteudo do site*/

.artigo{
    width: 1280px;
    margin: 40px auto;
    text-align: center;
    background-color: rgb(200, 200, 200);
    padding: 40px;
    
    
}

.artigo h1{
    color: #103fdadc;
    font-size: 23px;
    font-family: "comic sans ms";
    font-style: normal;
    font-weight: bold;
}

.artigo p{
    font-size: 17px;
    font-family: tahoma;
    font-style: normal;
    font-weight: bold;
    color: grey;
    margin-top: 15px;
    line-height: 25px;
    text-align: justify;
}

