* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}

.clear {
  clear: both;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* HEADER */

header {
  padding: 20px 2%;
}

header .logo img {
  float: left;
  width: 236px;
}

nav.menu-mobile {
  display: none;
  float: right;
  width: 28px;
  height: 28px;
  margin-top: 5px;
  background-image: url("../images/menu-mobile.png");
  background-size: 100% 100%;
  cursor: pointer;
}

nav.menu-mobile ul {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  text-align: center;
  width: 100%;
  background-color: white;
  z-index: 9;
}

nav.menu-mobile ul li {
  padding: 10px 0;
  text-transform: uppercase;
}

header nav.menu-desktop {
  float: right;
}

nav.menu-desktop ul {
  padding: 8px 0;
  list-style: none;
}

nav.menu-desktop ul li {
  float: left;
  font-size: 13px;
  padding: 0 20px;
  text-transform: uppercase;
}

ul a {
  color: #b4b4b4;
  text-decoration: none;
}

/* MOISAICO */

.mosaico-single {
  float: left;
  width: calc(100% / 6);
}

.img-mosaico-single {
  width: 100%;
  padding-top: 100%;
  border: 5px solid white;
  background-color: #ccc;
  /* background-size: cover;
  background-repeat: no-repeat; */
}

section.servicos .container {
  max-width: 800px;
  display: flex;
  align-items: center;
  position: relative;
  top: -30px;
  text-align: center;
}

section.servicos .box-servico {
  background-image: url("../images/icone_dente.png");
  background-size: 18px 18px;
  background-position: center calc(100% - 5px);
  background-repeat: no-repeat;
}

section.servicos .box-servico h2 {
  color: white;
  font-weight: normal;
  font-size: 15px;
  text-transform: uppercase;
}

section.servicos .box-servico p {
  color: white;
  font-weight: normal;
  font-size: 12px;
  margin-top: 8px;
}

section.servicos .box-servico:nth-of-type(1),
section.servicos .box-servico:nth-of-type(3) {
  width: 30%;
  padding: 30px 2%;
  background-color: #576975;
}

section.servicos .box-servico:nth-of-type(2) {
  width: 40%;
  padding: 45px 2%;
  background-color: #688293;
  background-image: none;
}

section.perfil-container {
  padding: 40px 0;
}

section.perfil-container .container {
  max-width: 800px;
}

section.perfil-container .perfil-wrapper {
  padding-top: 60%;
  position: relative;
}

section.perfil-container .perfil-wrapper2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
}

section.perfil-container .img-perfil {
  width: 40%;
  height: 100%;
  background-image: url("../images/img_perfil.png");
  background-size: 100% 100%;
}

.texto-perfil {
  width: 60%;
  padding: 20px 30px;
}

.texto-perfil h2 {
  font-size: 18px;
  color: #698293;
}

.texto-perfil p {
  font-size: 14px;
  text-align: justify;
  color: #4b4b4b;
  margin-top: 8px;
}

section.video {
  padding: 70px 0;
}

section.videos .box-video {
  float: left;
  width: calc(100% / 3);
  padding-top: calc(33.3% * 0.6);
  position: relative;
  border: 5px solid white;
}

section.videos iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

section.tratamentos {
  padding: 70px 0;
}

section.tratamentos .tratamento-container {
  float: left;
  width: 33.3%;
}

section.tratamentos h2 {
  font-size: 18px;
  text-align: center;
  color: #698293;
}

section.tratamentos .container {
  padding: 30px 0;
}

.tratamento-single {
  padding: 20px;
}

.tratamento-single h2 {
  font-size: 18px;
  color: #737373;
}

.tratamento-single p {
  padding: 10px 0;
  font-size: 13px;
  color: #b4b4b4;
}

section.depoimentos h2 {
  font-size: 18px;
  text-align: center;
  color: #698293;
}

section.depoimentos .container {
  padding: 40px 0;
  max-width: 400px;
}

section.depoimentos .depoimento-single {
  text-align: center;
  padding: 0 2%;
}

.depoimento-single quote {
  font-size: 15px;
  color: #b4b4b4;
}

.depoimento-single .nome-depoimento {
  padding: 19px 0;
}

.nome-depoimento img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.nome-depoimento span {
  position: relative;
  top: 8px;
  font-size: 13px;
  color: #b4b4b4;
  display: inline-block;
  vertical-align: top;
}

.instagram-chamada {
  float: left;
  width: 100%;
  text-align: center;
  padding: 40px 0;
  background-color: #98a5ae;
}

.instagram-chamada p,
.instagram-chamada a {
  padding: 10px 0;
  color: white;
  font-size: 13px;
  text-decoration: none;
  line-height: 23px;
}

.mosaico-social {
  float: left;
  width: 100%;
}

.img-mosaico-single-social {
  float: left;
  width: calc(100% / 9);
  padding-top: calc(100% / 9);
  background-color: #ccc;
  border: 6px solid white;
}

.facebook-chamada {
  float: left;
  width: 100%;
  text-align: center;
  padding: 40px 0;
  background-color: #576975;
}

.facebook-chamada p,
.facebook-chamada a {
  padding: 10px 0;
  color: white;
  font-size: 13px;
  text-decoration: none;
  line-height: 23px;
}

section.contato {
  padding: 60px 2%;
  background-color: rgb(230,230,230);
}

section.contato h2 {
  font-size: 18px;
  text-align: center;
  color: #698293;
}

section.contato form {
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
}

.form-wrapper {
  float: left;
  margin-top: 10px;
  padding: 0 10px;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.form-wrapper span {
  font-size: 15px;
  color: #b4b4b4;
}

.form-wrapper input[type="text"],
.form-wrapper input[type="email"],
.form-wrapper input[type="tel"] {
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding-left: 9px;
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-top: 8px;
}

.form-wrapper textarea {
  width: 100%;
  height: 121px;
  margin-top: 8px;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 5px;
  resize: none;
}

.form-wrapper input[type="submit"] {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #688293;
  color: white;
  cursor: pointer;
  display: inline-block;
}

footer {
  padding: 40px 2%;
  background-color: #688293;
}

.footer-container{
  max-width: 900px;
}

.footer-block {
  float: left;
  width: 33.3%;
  color: white;
}

.footer-block h2{
  font-weight: normal;
  font-size: 18px;
}

.footer-block p{
  font-size: 14px;
  margin-top: 8px;
}

@media screen and (max-width: 1024px) {
  .img-mosaico-single-social {
    width: calc(100% / 6);
    padding-top: calc(100% / 6);
  }

  .mosaico-social div:nth-last-of-type(1n + 7) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  nav.menu-desktop {
    display: none;
  }

  nav.menu-mobile {
    display: block;
  }

  section.servicos .container {
    flex-direction: column;
  }

  section.servicos .box-servico:nth-of-type(1),
  section.servicos .box-servico:nth-of-type(3) {
    width: 90%;
    max-width: 350px;
    padding: 30px 2%;
  }

  section.servicos .box-servico:nth-of-type(2) {
    width: 94%;
    max-width: 380px;
    padding: 40px 2%;
  }

  section.perfil-container .img-perfil {
    width: 40%;
    height: 100%;
    background-image: url("../images/img_perfil.png");
    background-size: 100% 100%;
  }

  .texto-perfil {
    width: 60%;
    padding: 0 30px;
  }

  section.perfil-container .perfil-wrapper {
    padding-top: 0;
  }

  section.perfil-container .perfil-wrapper2 {
    display: inline-block;
    text-align: center;
    height: auto;
    position: static;
  }

  section.perfil-container .img-perfil {
    width: 50%;
    height: auto;
    padding-top: 70%;
    display: inline-block;
  }

  .texto-perfil {
    width: 100%;
    padding: 0 30px;
    display: inline-block;
  }

  section.videos {
    text-align: center;
  }

  section.videos .box-video {
    width: 70%;
    display: inline-block;
    padding-top: calc(70% * 0.6);
    position: relative;
    float: none;
  }

  .img-mosaico-single-social {
    width: calc(100% / 3);
    padding-top: calc(100% / 3);
  }

  .mosaico-social div:nth-last-of-type(1n + 4) {
    display: none;
  }

  footer{
    text-align: center;
  }

  .footer-block{
    float: none;
    width: 100%;
    margin: 30px 0;
  }
}

@media screen and (max-width: 580px) {
  section.perfil-container .img-perfil {
    width: 80%;
    padding-top: 110%;
  }

  section.videos .box-video {
    width: 100%;
    padding-top: calc(100% * 0.6);
  }

  .w50 {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  header .logo img {
    width: 200px;
  }
}
