* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Open Sans';
}

form *{
    font-family: 'Open Sans';
}

/*
.box p{
    font-family: 'Open Sans' !important; //Quando usamos o "!important" o nível de especificação deixa de existir.
}

.text{
    font-family: tahoma ;
}
*/
