* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.clear {
  clear: both;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background: #d6d6d6;
  padding: 10px 2%;
}

.logo-1 {
  float: left;
  width: 160px;
  height: 60px;
  background-image: url("../images/logo1.png");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-2 {
  float: right;
  width: 160px;
  height: 60px;
  background-image: url("../images/logo2.png");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 510px) {
  header {
    text-align: center;
  }

  .logo-1,
  .logo-2 {
    margin-top: 10px;
    display: inline-block;
    float: none;
  }
}
