* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

main{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

aside{
  background: lightgrey;
  padding: 30px;
}

article{
  padding: 30px;
  background: gray;
}