*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

html, body{
    height: 100%;
}

.clear{
    clear: both;

}

.center{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;    
}

.header{
    width: 100%;
    padding: 0 2%;
    height: 60px;
    background-color: rgb(33, 35, 67);
}

.header img{
    margin: 19px;
}

.container-banner{
    width: 100%;
    padding: 0 2%;
    height: 557px;
    background-image: url('images/header_bg.png');
    background-size: cover;
    background-position: center;
    
}

.container-banner > .center{
    height: 100%;
}

.form{
    padding: 20px;
    width: 400px;
    height: calc(100% + 30px);
    float: right;
    position: relative;
    top: -15px;
    border: 8px solid rgba(204, 204, 204, 0.5);
    background-color: white;
    background-clip: padding-box;
    /*background-origin tem o mesmo conceito mas serve para imagens*/
}

.form h2{
    font-weight: normal;
    color: rgb(153, 153, 153);
    font-size: 21px;
    text-align: center;
    
}

.input-container{
    margin-top: 20px;
}

.input-container span{
    display: inline-block;
    width: 100%;
    font-size: 17px;
    color: rgb(187, 187, 187);
}

.form p{
    display: inline-block;
    width: 100%;
    font-size: 17px;
    color: rgb(187, 187, 187);
    margin: 20px 0;
}

.input-container input[type=text]{
    margin-top: 8px;
    width: 344px;
    height: 55px;
    border: 1px solid rgb(204, 204, 204);
    padding: 8px 10px 8px 10px;
}

.form input[type=submit]:hover{
    background-color: rgb(50, 54, 101);
}

.input-container input[type=text]:focus{
    outline: none;
    border: 1px solid rgb(50, 54, 101);
}

.form .input-submit-container{
    text-align: center;
}

.form input[type=submit]{
    width: 280px;
    height: 56px;
    background-color: rgb(54, 58, 109);
    color: white;
    font-size: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-top: 0;
    border-bottom: 5px groove rgb(74, 80, 151);
    border-left: 0;
    border-right: 0;
}

.container-list{
    padding: 30px;
    margin-top: 100px;
    float: left;
    width: 519px;
    height: 270px;
    background-color: rgba(33,35,67,0.7);
}

.container-list ul{
    list-style-position: inside;
}

.container-list ul li{
    margin-top: 18px;
    color: white;
}

.container-mid{
    padding: 40px 2%;
    background-color: rgb(212, 212, 212);
    text-align: center;
}

.container-mid h2{
    font-weight: normal;
}

.container-mid p{
    width: 100%;
    max-width: 768px;
    margin: 15px 0;
    text-align: justify;
    display: inline-block;
}

.arrow{
    position: relative;
    top: 60px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url(images/arrow.png);
    background-size: 100%;
}

.section-bottom{
    padding: 90px 2%;
}

.section-bottom h2{
    text-align: center;
    color: rgb(70, 38, 99);
    font-weight: normal;
}

.container-section{
    margin-top: 40px;
    text-align: center;
}

.container-single{
    float: left;
    width: 33.3333%;
    padding: 10px;
}

.container-single p{
    text-align: justify;
    padding: 10px 25px;
}

.container-single img{
    width: 70px;
}

.footer{
    border-top: 2px solid rgb(136, 136, 136);
    padding: 20px 0;
    text-align: center;
    color: rgb(136, 136, 136);
}

.footer p{
    margin: 8px;
}

.footer img{
    margin-right: -4px;
    width: 10%;
}

@media screen and (max-width: 1024px){
    .header{
        height: auto;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }

    .header img{
        margin: 0;
    }

    .container-list{
        padding: 30px 0;
        float: left;
        height: auto;
        width: 40%;
        max-width: 500px;
        margin-top: 30px;
    }

    .container-banner{
        width: 100%;
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }

    .form{
        max-width: 400px;
        padding: 10px;
        width: 60%;
        height: 100%;
        float: right;
        top: 0;
    }

    .input-container input[type=text]{
        width: 100%;
        height: 55px;
    }
        
    .form input[type=submit]{
        width: 100%;
        max-width: 280px;
        height: 56px;        
    }

    .footer img{
        margin-right: -4px;
        width: 15%;
    }
}

@media screen and (max-width: 768px){
    .container-mid p{
        width: 100%;
        max-width: 768px;
        margin: 15px 0;
        text-align: justify;
        display: inline-block;
        padding: 3%;
    }
    
    .container-list{
        margin-top: 0;
        float: none;
        display: inline-block;
        width: 100%;
    }

    .form{
        float: none;
        display: inline-block;
        width: 100%;
        margin-top: 30px;
    }

    .container-single{
        float: none;
        display: inline-block;
        width: 100%;
        max-width: 600px;
        padding: 30px;
    }

    .container-single p{
        text-align: justify;
    }

    .footer img{
        margin-right: -4px;
        width: 100%;
        max-width: 150px;
    }
}