* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  text-align: center;
}

.box img {
  margin-top: 4%;
  width: 25%;
  animation-name: animacao;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  box-shadow: 10px 10px 15px 5px rgb(130, 130, 130);
}

@keyframes animacao {
  0%{
    box-shadow: 10px 10px 15px 5px rgb(130, 130, 130);
  }
  50% {
    box-shadow: 20px 20px 5px 5px rgb(130, 130, 130);
  }

  100% {
    box-shadow: 10px 10px 15px 5px rgb(130, 130, 130);
  }
}
