* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.teste, .teste1, .teste2{
    
    width: 300px;
    margin-top: 30px;
    margin-left: 30px;
    display: inline-block;
    vertical-align: top;
    height: 30px;
    /*background-color: gray;*/
}

.teste1{
    background-color: rgb(98, 98, 98);
}

.teste2{
    background-color: rgb(50,50,50);
}

/*  hover serve para qnd passamos o mouse por cima do elemento

.teste:hover{
    height: 900px;
    background-color: blue;
}
*/

/*  active serve para qnd estamos com o mouse pressionado em cima do elemento

.teste:active{
    background-color: black;
}
*/

/*  focus serve para qnd clicamos e focamos o nosso elemento do formulário

.teste:focus{
    background-color: red;
}

.textarea1{
    display: block;
    width: 600px;
    height: 300px;
}
*/

/*  link para formatar o link ainda ñ visitado e visited para já visitado
.link1:link{
    color: green;
}

.link1:visited{
    color: red
}
*/

