* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 300px;
  height: 300px;
  position: relative;

  /* animation-name: animacao1;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite; */

  animation: animacao1 2s 1s infinite;
}

@keyframes animacao1 {
  0%{
    left: 0;
    top: 0;
    background-color: #6A0DC4;
    border-radius: 0;
  }

  25%{
    left: 25px;
    top: 25px;
    background-color: #8D18FF;
    border-radius: 33.3%;
  }

  50%{
    left: 50px;
    top: 50px;
    background-color: #A240FC;
    border-radius: 0%;
  }

  75%{
    left: 75px;
    top: 75px;
    background-color:#B850FF;
    border-radius: 33.3%;
  }

  100%{
    left: 0;
    top: 0;
    background-color: #6A0DC4;
    border-radius: 0;
  }
}