*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.slider{
    width: 97%;
    margin: 0 auto;
    max-width: 700px;
    height: 500px;
    border: 1px solid black;
    position: relative;
}

.img-slider{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.one{
    background-color: darkviolet;
    z-index: 3;
}

.two{
    left: 40px;
    background-color: aquamarine;
    z-index: 2;
}

.three{
    left: 80px;
    background-color: gold;
    z-index: 1;
}