*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

/*.header{
    width: 100%;
    min-width: 1280px;
    height: 200px;
    background: green;
}*/

.article{
    margin: 0 auto;
    width: 1280px;
    height: 10%;
    min-height: 50%;
    max-height: 20%;
    background: red;
}